/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Merriweather', sans-serif;
	line-height: 1.5;
	color: #363232;
}

a {
	text-decoration: none;
}

.contact {
    font-size: 1.5em;
    margin-bottom: 50px;
    font-weight: 700;
    background-color: rgb(45, 57, 69);
    color: #fff;
    padding: 3px 6px;
    border-radius: 5px;
}

.contact2 {
    font-size: 1.5em;
    font-weight: 700;
}  

h1 {
    text-align: center;
}


p {
    text-align: center;
}

label {
    color: #7a8896;
}


/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

/* ---- Layout Containers ---- */

.Top {
    padding-top: 1em;
    padding-bottom: 1em;
    background: rgb(45, 57, 69);
    color: white;
}

.main {
    margin: 10px auto;
    padding: 10px 20px;
    border-radius: 8px;
}

.Newsletter {
    padding-bottom: 15px;
}

.form1 {
    margin-top: 30px;
    padding-top: 20px;
    background-color: rgb(45, 57, 69);
}

.Contact {
    padding-top: 10px;
}

.checkboxes {
    padding-bottom: 15px;
}

.radioboxes {
    padding-bottom: 15px;
}
.radioboxes label {
    margin-left: 5px;
}


/* ---- Page Elements ---- */

fieldset {
    margin-top: 25px;
    border: 0;
}

.Newsletter > h2 {
    text-align: center;
}

.Newsletter > p {
    color: rgb(157, 163, 168);
}


.Copyright {
    padding-top: 2em;
    text-align: center;
    color: rgb(157, 163, 168);
}


/* ---- Form Elements ---- */

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="number"],
input[type="search"],
select,
#other {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #eff0f1;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  border-radius: 5px;
  margin-bottom: 30px;
}

#code  {
    display: block;
    width: 40%;
}

label {
    display: inline-block;
    margin-bottom: 15px;
}


.checkboxes label {
    margin-left: 10px;
}

.form-group label {
    color: white;
}

.form1 {
    border-radius: 5px;
}


/* ---- Button ---- */

button {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: #4ebbb5;
    font-size: 20px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #4ebbb5;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
  }


/* UI element states pseudo-classes ------------ */

input::placeholder {
    text-align: right;
    font-style: italic;
    color: rgb(157, 163, 168);
    opacity: .5;
}


input:focus, 
select:focus,
#other:focus {
    border: 2px solid blue;
}

input[type="checkbox"]:checked + label,
input[type="radio"]:checked + label{
    font-weight: bold;
    font-size: large;
}

input:required:focus {
border: 2px solid red;
outline: none;
}

input:required:hover {
opacity: 1;
}

/* Transisition ------------ */

input#name:focus, 
input#mail:focus,
input#tel:focus,
input#address:focus,
input#place:focus,
input#state:focus,
input#code:focus,
input#other:focus,
#state:focus {
opacity: 1;
transition: opacity 1s ease-in-out;
-moz-transition: opacity 1s ease-in-out;
-webkit-transition: opacity 1s ease-in-out;
}

input#name, 
input#mail,
input#tel,
input#address,
input#place,
input#state,
input#code,
#state {
opacity: 0.5;
}


/* ================================= 
  Media Queries
==================================== */

@media (min-width: 768px) {
   
.main {
    max-width: 800px;
}    

.form-group {
display: flex;
flex-direction: row;
}

.form-group label {
flex: none;
display: block;
width: 150px;
}

label {
    padding-top: 12px;
}

}